<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plants.chimichangas.agrohacks.com.agrohacksplantsproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FructoActivity" />
        <activity
            android:name=".FrucScrollActivity"
            android:label="@string/title_activity_fruc_scroll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".frame_2" />
        <activity android:name=".Prueba"></activity>
    </application>

</manifest>